<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
    {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="{% static 'style/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'style/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'style/css/style.css' %}" rel="stylesheet">

</head>


<body>
  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Fake Tweet</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{% url 'timeline' %}">TimeLine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{% url 'likepage' %}">Likes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

    <!--/ Intro Skew Star /-->
  <div class="intro intro-single route bg-image" style="background-image: url({% static 'style/img/welcomecenterpic.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="intro-title mb-4">{% block pagename %}{% endblock %}</h2>
            {% block profile %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->






{% block content %}{% endblock content %}



<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>


  <script src="{% static 'style/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'style/lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'style/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'style/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'style/lib/counterup/jquery.counterup.js' %}"></script>
  <script src="{% static 'style/js/main.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>