{% extends "base.html" %}
{% block title %}
Details of tweet
{% endblock %}
{% block content %}

    {% for t in tweet %}
        <h1>{{ t.tweet }}</h1>
        <p>Tweeted by {{ t.author.username }} on {{ t.created }}</p>

          <h3>  {{ total }} like {{ total|pluralize }} </h3>
        <form action="{% url 'liketweet' %}" method="post">
            {% csrf_token %}
            {% if is_liked %}
                <button type="submit" name="tweetid" value="{{ t.id }}" class="btn btn-danger">Unlike</button>
            {% else %}
                <button type="submit" name="tweetid" value="{{ t.id }}" class="btn btn-primary">Like</button>
            {% endif %}
        </form>

    {% endfor %}



{% endblock %}
