{% extends "base.html" %}
{% block title %}
Details of tweet
{% endblock %}

{% block pagename %}
    Tweeted by:
{% endblock %}
{% block profile %}
    {% for t in tweet %}
    <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="{% url 'profile_pk' pk=t.author.id %}">{{ t.author.username }}</a>
            </li>
            <li class="breadcrumb-item">
              <a>on {{ t.created }}</a>
            </li>
    </ol>
    {% endfor %}
{% endblock %}

{% block content %}



  <section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% for t in tweet %}
          <div class="post-box">
            <div class="post-thumb">
              <!--/ Tweet Media /-->
              {% if t.image %}
                  {% if '.mp4' in t.image.name %}
                     <video width="320" height="240" controls class="img-fluid">
                       <source src="{{ t.image.url }}" type="video/mp4">
                         Your browser does not support the video tag.
                      </video>
                  {% elif '.mp3' in t.image.name %}
                    <audio controls >
                      <source src="{{ t.image.url }}" type="audio/mpeg">
                       Your browser does not support the audio element.
                    </audio>

                  {% else %}
                    <img src="{{ t.image.url }}" class="img-fluid" alt="">
                  {% endif %}
              {% endif %}
            <div class="post-meta">

              <h1 class="article-title">{{ t.tweet }}</h1>

              <form action="{% url 'liketweet' %}" method="post">
                {% csrf_token %}
                {% if is_liked %}
                <button type="submit" name="tweetid" value="{{ t.id }}" class="btn btn-danger">Unlike</button><p>  {{ total }} like{{ total|pluralize }} </p>
                {% else %}
                <button type="submit" name="tweetid" value="{{ t.id }}" class="btn btn-primary">Like</button><p>  {{ total }} like{{ total|pluralize }} </p>
                {% endif %}
              </form>
            </div>


          </div>
          {% endfor %}
          </div>
     </div>
  </section>

{% endblock %}
