{% extends "base.html" %}
{% block title %}
Home Page
{% endblock %}
{% block content %}


    <h1>This is the home page</h1>

    <h2> </h2>


    <div class="row">


        <div class="col-sm-8">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                  <button type="submit">Submit</button>

            </form>


            {% for t in tweet %}
                 <h1>{{ t.tweet }}</h1>
                 <p>Tweeted by {{ t.author.username }} <a href="{% url 'details' id=t.id %}"> Details</a> </p>

             {% endfor %}
        </div>

        <div class="col-sm-4">
             <h1> People You Might know: </h1>

            {% for u in user %}
                {% if not u in following %}
                <h3> <a href="{% url 'profile_pk' pk=u.pk %}">{{ u.username }}</a></h3>
                <a href="{% url 'follow' pk=u.pk %}">
                <button type="button" class="btn btn-outline-primary">Follow</button>
                </a>
                {% endif %}
            {% endfor %}

        </div>

    </div>


{% endblock %}
