{% extends "base.html" %}
{% block title %}
TimeLine
{% endblock %}
{% block content %}

             {% for t in tweet %}
                 <h1>{{ t.tweet }}</h1>
                 {% if t.image %}
                    {% if '.mp4' in t.image.name %}
                        <video width="320" height="240" controls>
                            <source src="{{ t.image.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% elif '.mp3' in t.image.name %}
                        <audio controls>
                            <source src="{{ t.image.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>

                    {% else %}
                    <img src="{{ t.image.url }}" class="img-responsive"/>
                    {% endif %}
                {% endif %}
                 <p>Tweeted by {{ t.author.username }} <a href="{% url 'details' id=t.id %}"> Details</a> </p>

             {% endfor %}




{% endblock %}
