{% extends "base.html" %}
{% block title %}
Profile Page
{% endblock %}
{% block content %}


    <h1>Profile: </h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
<div class="row">
<div class="col-sm-8">
    {% for t in tweet %}
        <h3>{{ t.tweet }}</h3>
        {% if t.image %}
            <img src="{{ t.image.url }}" class="img-responsive"/>
        {% endif %}
        <p>Your tweet, Tweeted on {{ t.created }}</p>
    {% endfor %}
</div>

<div class="col-sm-4">
    {% if following %}
    <h1>List of Followings: </h1>
         {% for f in following %}
             <h3><a href="{% url 'profile_pk' pk=f.pk %}">{{ f.username }}</h3>
             <a href="{% url 'unfollow' pk=f.pk %}">
             <button type="button" class="btn btn-outline-danger">Unfollow</button>
             </a>
         {% endfor %}
    {% endif %}

</div>

</div>
{% endblock %}